.contact{
    /* background-image: url('../images/contact.avif'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    align-items: center;

    
}
.e{
    color: red;
    
}

