.homepage{
    width: 100%;
    background-image: url('../images/d5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.btn1{
    min-width: 30%;
    background-color: rgb(0, 255, 115);
    border-radius: 10px;
    color: black;
}

h1{
    color: azure;
    
}