.navbar{
    height: 8vh;
    position: sticky;
    width: 100%;
    align-items: end;
    justify-content: end;

}
.li{
    text-decoration: none;
    color:#0c0904;
    font-size: large;
    font-family: 'Times New Roman', Times, serif; 
    margin-left: 10px;
}
.il{
    text-decoration: none;
    color: #0c0904;  
}

